.card{
    width: 500px;
}
.card-body{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.img{
    width: 173px;
}
.img img{
    width: 100%;
    flex: 2;
}
form{
    flex: 3;
    margin: 24px;
}
.form-check-label{
    font-size: 0.8rem !important;
}
#num{
    appearance: none !important;
    -webkit-appearance: none !important;
}